<div class="container">
    <div class="row justify-content-center">
        <h2>My Bookstore</h2>
    </div>
    <div class="row justify-content-center">
    <table>
        <tr>
            <td>
                <form action="/A">
                    <button type="submit" class="btn btn-lg btn-block btn-warning">A</button>
                </form>
            </td>
            <td>
                <form action="/B">
                    <button type="submit" class="btn btn-lg btn-block btn-warning">B</button>
                </form>
            </td>
            <td>
                <form action="/C">
                    <button type="submit" class="btn btn-lg btn-block btn-warning">C</button>
                </form>
            </td>
            <td>
                <form action="/D">
                    <button type="submit" class="btn btn-lg btn-block btn-warning">D</button>
                </form>
            </td>
            <td>
                <form action="/E">
                    <button type="submit" class="btn btn-lg btn-block btn-warning">E</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form action="/F">
                    <button type="submit" class="btn btn-lg btn-block btn-warning">F</button>
                </form>
            </td>
            <td>
                <form action="/G">
                    <button type="submit" class="btn btn-lg btn-block btn-warning">G</button>
                </form>
            </td>
            <td>
                <form action="/H">
                    <button type="submit" class="btn btn-lg btn-block btn-warning">H</button>
                </form>
            </td>
            <td>
                <form action="/I">
                    <button type="submit" class="btn btn-lg btn-block btn-warning">I</button>
                </form>
            </td>
            <td>
                <form action="/J">
                    <button type="submit" class="btn btn-lg btn-block btn-warning">J</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form action="/K">
                    <button type="submit" class="btn btn-lg btn-block btn-warning">K</button>
                </form>
            </td>
            <td>
                <form action="/L">
                    <button type="submit" class="btn btn-lg btn-block btn-warning">L</button>
                </form>
            </td>
            <td>
                <form action="/M">
                    <button type="submit" class="btn btn-lg btn-block btn-warning">M</button>
                </form>
            </td>
            <td>
                <form action="/N">
                    <button type="submit" class="btn btn-lg btn-block btn-warning">N</button>
                </form>
            </td>
            <td>
                <form action="/O">
                    <button type="submit" class="btn btn-lg btn-block btn-warning">O</button>
                </form>
            </td>
        </tr>
        <tr>
            <td><form action="/P">
                    <button type="submit" class="btn btn-lg btn-block btn-warning">P</button>
                </form></td>
            <td><form action="/Q">
                    <button type="submit" class="btn btn-lg btn-block btn-warning">Q</button>
                </form></td>
            <td><form action="/R">
                    <button type="submit" class="btn btn-lg btn-block btn-warning">R</button>
                </form></td>
            <td>
                <form action="/S">
                    <button type="submit" class="btn btn-lg btn-block btn-warning">S</button>
                </form>
            </td>
            <td>
                <form action="/T">
                    <button type="submit" class="btn btn-lg btn-block btn-warning">T</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form action="/U">
                    <button type="submit" class="btn btn-lg btn-block btn-warning">U</button>
                </form>
            </td>
            <td>
                <form action="/V">
                    <button type="submit" class="btn btn-lg btn-block btn-warning">V</button>
                </form>
            </td>
            <td>
                <form action="/W">
                    <button type="submit" class="btn btn-lg btn-block btn-warning">W</button>
                </form>
            </td>
            <td>
                <form action="/X">
                    <button type="submit" class="btn btn-lg btn-block btn-warning">X</button>
                </form>
            </td>
            <td>
                <form action="/Y">
                    <button type="submit" class="btn btn-lg btn-block btn-warning">Y</button>
                </form>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                <form action="/Z">
                    <button type="submit" class="btn btn-lg btn-block btn-warning">Z</button>
                </form>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <form action="/0">
                    <button type="submit" class="btn btn-lg btn-block btn-dark">0</button>
                </form>
            </td>
            <td>
                <form action="/1">
                    <button type="submit" class="btn btn-lg btn-block btn-dark">1</button>
                </form>
            </td>
            <td>
                <form action="/2">
                    <button type="submit" class="btn btn-lg btn-block btn-dark">2</button>
                </form>
            </td>
            <td>
                <form action="/3">
                    <button type="submit" class="btn btn-lg btn-block btn-dark">3</button>
                </form>
            </td>
            <td>
                <form action="/4">
                    <button type="submit" class="btn btn-lg btn-block btn-dark">4</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form action="/5">
                    <button type="submit" class="btn btn-lg btn-block btn-dark">5</button>
                </form>
            </td>
            <td>
                <form action="/6">
                    <button type="submit" class="btn btn-lg btn-block btn-dark">6</button>
                </form>
            </td>
            <td>
                <form action="/7">
                    <button type="submit" class="btn btn-lg btn-block btn-dark">7</button>
                </form>
            </td>
            <td>
                <form action="/8">
                    <button type="submit" class="btn btn-lg btn-block btn-dark">8</button>
                </form>
            </td>
            <td>
                <form action="/9">
                    <button type="submit" class="btn btn-lg btn-block btn-dark">9</button>
                </form>
            </td>
        </tr>
    </table>
    </div>
</div>
