<div>
    <h2>My Bookstore</h2>
    <table>
        <tr>
            <td>
                <form action="/A">
                    <button type="submit">A</button>
                </form>
            </td>
            <td>
                <form action="/B">
                    <button type="submit">B</button>
                </form>
            </td>
            <td>
                <form action="/C">
                    <button type="submit">C</button>
                </form>
            </td>
            <td>
                <form action="/D">
                    <button type="submit">D</button>
                </form>
            </td>
            <td>
                <form action="/E">
                    <button type="submit">E</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form action="/F">
                    <button type="submit">F</button>
                </form>
            </td>
            <td>
                <form action="/G">
                    <button type="submit">G</button>
                </form>
            </td>
            <td>
                <form action="/H">
                    <button type="submit">H</button>
                </form>
            </td>
            <td>
                <form action="/I">
                    <button type="submit">I</button>
                </form>
            </td>
            <td>
                <form action="/J">
                    <button type="submit">J</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form action="/K">
                    <button type="submit">K</button>
                </form>
            </td>
            <td>
                <form action="/L">
                    <button type="submit">L</button>
                </form>
            </td>
            <td>
                <form action="/M">
                    <button type="submit">M</button>
                </form>
            </td>
            <td>
                <form action="/N">
                    <button type="submit">N</button>
                </form>
            </td>
            <td>
                <form action="/O">
                    <button type="submit">O</button>
                </form>
            </td>
        </tr>
        <tr>
            <td><form action="/P">
                    <button type="submit">P</button>
                </form></td>
            <td><form action="/Q">
                    <button type="submit">Q</button>
                </form></td>
            <td><form action="/R">
                    <button type="submit">R</button>
                </form></td>
            <td>
                <form action="/S">
                    <button type="submit">S</button>
                </form>
            </td>
            <td><form action="/T">
                    <button type="submit">T</button>
                </form></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
